apiVersion: v1
kind: Secret
metadata:
  name: banco-digital-secret
  namespace: banco-digital
type: Opaque
stringData:
  DB_PASS: ${DB_PASS}
  JWT_SECRET: ${JWT_SECRET}
  GATEWAY_SECRET: ${GATEWAY_SECRET}
  POSTGRES_PASSWORD: ${DB_PASS}
